.gallery_row {
  max-height: 400px;
  margin-bottom: 34px;
  overflow: hidden;
}

.tab {
  cursor: pointer;
}
.tab:hover {
  color: #e9c057;
}

.collab_image {
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
}

.gallery_image {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.media_icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

body {
  color: #484750;
  background: white;
  font-family: 'Montserrat';
}

.header {
  background: white;
  padding: 0px calc(50% - 555px) 0px calc(50% - 555px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.03);
}

.link-ul {
  display: flex;
  margin-bottom: -10px;
}

.link {
  list-style: none;
}

.link-anchor {
  color: #00113e;
  padding: 15px 18px;
}
